.main {
  height: calc(100% - 100px);
  width: 100%;
  display: grid;
  /* background-color: aquamarine; */
  grid-template-columns: 115px repeat(2, 1fr);
  grid-template-areas: " sidebar home wallpaper";
}
