.main {
  height: calc(100% - 80px);
  width: 100%;
  display: grid;
  /* background-color: aquamarine; */
  grid-template-columns: 90px repeat(2, 3fr);
  grid-template-areas: " sidebar home wallpaper";
}
