.sidebar {
  height: 100%;
  /* width: 90px; */
  /* background-color: aliceblue; */
  grid-area: sidebar;
}
.sideBar-wrapper {
  /* background-color: yellow; */
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.icon img {
  height: 17px;
  width: 17px;
}
.purple-stereo-logo {
  height: 30px;
  width: 30px;
  background-color: black;
}
