body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(135deg, #f7f7f7 8%, #8ec5fc 40%, #e0c3fc 92%);
  box-sizing: border-box;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    110deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(196, 187, 222, 1) 60%,
    rgba(241, 154, 229, 1) 85%,
    rgba(190, 85, 218, 1) 92%,
    rgba(153, 107, 221, 1) 95%,
    rgba(231, 176, 210, 1) 99%
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  /* box-sizing: border-box;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    110deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(196, 187, 222, 1) 60%,
    rgba(241, 154, 229, 1) 85%,
    rgba(190, 85, 218, 1) 92%,
    rgba(153, 107, 221, 1) 95%,
    rgba(231, 176, 210, 1) 99%
  ); */
}
